{% extends 'base.html' %}

{% block content %}
    <h2>Select your products:</h2>
    <hr/>
    <form class="post-form" id="orderForm">
        <table>
        {% for product in products %}
            <tr>
                <td><p>{{product.name}}</p></td>
                <td><p>{{product.price}}</p></td>
                <td><p>{% if product.unitary %}€/ud{% else %}€/100 gr{%endif%}</p></td>
                <td>
                    <input name="product" type="hidden" value="{{product.id}}">
                    <input name="quantity" type="number" value="0"
                        {% if product.unitary %}
                            min="0" max="10"
                        {% else %}
                            min="0" max="1000" step="100"
                        {% endif %}>
                </td>
                <td></td>
                <td><p>Available stock:</p></td>
                <td><p><i>({{product.real_stock}})</i></p></td>
            </tr>
        {% endfor %}
        </table>
        <hr/>
        <button type="submit" class="save btn btn-default">Order</button>
    </form>
{% endblock %}

{% block js %}
<script>
    var url_new_order = "{% url "new_order" %}"

    $('#orderForm').submit(function(event) {
        var self = this;
        event.preventDefault();

        var inputs = $.find('#orderForm input[name="quantity"]');

        var products = [];
        $.each(inputs, function(index, input) {
            if (input.value > 0) {
                var product = $(input).siblings()[0].value;
                products.push({"product": product, "quantity": input.value})
            }
        });

        $.ajax({
            dataType: 'json',
            contentType: "application/json",
            url: '/api/v1/order/',
            type: 'POST',
            traditional: true,
            data: JSON.stringify({'products': products}),
            complete: function(data) {
                if (data.status === 201) {
                    order_id = data.responseJSON.id
                    window.location.replace(
                        url_new_order +"?order=" + order_id
                    );
                }
            }
        });
    });
</script>
{% endblock %}
